.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.frame .overlap-wrapper {
    background-color: #ffffff;
    width: 1161px;
    height: 1854px;
}

.frame .overlap {
    position: relative;
    height: 1854px;
}

.frame .rectangle {
    position: absolute;
    width: 1156px;
    height: 120px;
    top: 0;
    left: 2px;
    background-color: #646464;
}

.frame .div {
    position: absolute;
    width: 1161px;
    height: 1854px;
    top: 0;
    left: 0;
    border: 2.38px solid;
    border-color: #000000;
}

.frame .line {
    position: absolute;
    width: 1156px;
    height: 2px;
    top: 119px;
    left: 2px;
}

.frame .text-wrapper {
    position: absolute;
    top: 20px;
    left: 457px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 59.5px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .rectangle-2 {
    position: absolute;
    width: 1007px;
    height: 410px;
    top: 204px;
    left: 77px;
    border: 3px solid;
    border-color: #000000;
}

.frame .rectangle-3 {
    position: absolute;
    width: 1007px;
    height: 410px;
    top: 709px;
    left: 77px;
    border: 3px solid;
    border-color: #000000;
}

.frame .rectangle-4 {
    position: absolute;
    width: 1007px;
    height: 410px;
    top: 1214px;
    left: 77px;
    border: 3px solid;
    border-color: #000000;
}

.frame .group {
    position: absolute;
    width: 506px;
    height: 326px;
    top: 246px;
    left: 544px;
}

.frame .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .p {
    position: absolute;
    width: 477px;
    top: 120px;
    left: 2px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .overlap-group-wrapper {
    position: absolute;
    width: 138px;
    height: 53px;
    top: 273px;
    left: 0;
}

.frame .overlap-group {
    position: relative;
    width: 136px;
    height: 53px;
    background-color: #000000;
    border-radius: 5px;
}

.frame .text-wrapper-3 {
    position: absolute;
    top: 17px;
    left: 9px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .group-2 {
    position: absolute;
    width: 506px;
    height: 326px;
    top: 1256px;
    left: 544px;
}

.frame .text-wrapper-4 {
    position: absolute;
    width: 502px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-5 {
    position: absolute;
    width: 477px;
    top: 126px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .group-3 {
    position: absolute;
    width: 483px;
    height: 326px;
    top: 751px;
    left: 544px;
}

.frame .text-wrapper-6 {
    position: absolute;
    width: 425px;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-7 {
    position: absolute;
    width: 477px;
    top: 124px;
    left: 2px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-2 {
    position: absolute;
    width: 378px;
    height: 378px;
    top: 220px;
    left: 94px;
    border: 1px solid;
    border-color: #000000;
    background-image: url(./img/rut-miit-hprgrfoiybc-unsplash-1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-3 {
    top: 725px;
    background-image: url(./img/ux-indonesia-qc2n6rqu4vw-unsplash-1.png);
    position: absolute;
    width: 378px;
    height: 378px;
    left: 94px;
    border: 1px solid;
    border-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-4 {
    top: 1230px;
    background-image: url(./img/markus-spiske-ygn967affe4-unsplash-1.png);
    position: absolute;
    width: 378px;
    height: 378px;
    left: 94px;
    border: 1px solid;
    border-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-wrapper {
    position: absolute;
    width: 522px;
    height: 78px;
    top: 1700px;
    left: 321px;
}

.frame .overlap-2 {
    position: relative;
    width: 520px;
    height: 78px;
    border: 1px solid;
    border-color: #000000;
}

.frame .text-wrapper-8 {
    position: absolute;
    top: 26px;
    left: 182px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
